body{
    width: 100%;
    font-family: sans-serif;
    background: #E3E6F3;
}
*{
    padding: 0;
    margin: 0;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    height: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
} 
#navbar li a:hover{
    color: #088178;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}
#header .logo{
    width: 80px;
    height: 80px;
}

#login-btn{
        background-color: #088178;
        color: white;
        border: none;
        font-weight: bold;
        padding: 6px;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 13px;
        cursor: pointer;
}

#login-btn:hover{
    background-color: #0b6f68;
    color: white;
}

.sub-header{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 1rem;
}

